/* Custom color theme properties */
:root {
  --f7-theme-color: #8883F0;
  --f7-theme-color-rgb: 128, 103, 187;
  --f7-theme-color-shade: #694dac;
  --f7-theme-color-tint: #9883c8;
}

/* Your app custom styles here */
.page-content {
 background-color: #F7FAFE;
}
